#-----------ПЛИС-----------#

# Файлы компиляции
db/
incremental_db/
output_files/
simulation/
__Previews/

# Резервные копии
*.qws
*.bak
*.orig


#---------Контроллер--------#

# Файлы компиляции
Debug/
Release/
src/
RAM/
FLASH/

.launches
.settings
.config
.metadata

#------------Ещё------------#
*.exe
*.log
