#-----------ПЛИС-----------#

# Файлы компиляции
db/
incremental_db/
output_files/
__Previews/

# Файлы симуляций
simulation/
work/
*.wlf
transcript

# Проект симуляции, какашка с абсолютными путями
*.mpf
*.cr.mti

# Резервные копии
*.qws
*.bak
*.orig

# Какойто промежуточный файл
.qsys_edit


#---------Контроллер--------#

# Файлы компиляции
Debug/
Release/
src/
RAM/
FLASH/

.launches
.settings
.config
.metadata


#------------Ещё------------#

*.exe
*.log
